In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('../Datasets/salary_predict_dataset1.csv')

In [3]:
df

    experience  Salary
0          1.1   39343
1          1.3   46205
2          1.5   37731
3          2.0   43525
4          2.2   39881
5          2.9   56642
6          3.2   60150
7          3.2   54445
8          3.7   64445
9          3.9   57189
10         4.0   63218
11         4.0   55789
12         4.1   56954
13         4.5   57081
14         4.9   61111
15         5.1   67938
16         5.3   66029
17         5.9   83022
18         6.0   81363
19         6.8   93940
20         7.1   91738
21         7.9   98724
22         8.2  101302
23         8.7  113338
24         9.0  109431
25         9.5  105582
26         9.6  116945
27        10.3  122391
28        10.5  121872

In [18]:
x=df.iloc[:,:-1].values
y=df.iloc[:,1:].values

In [19]:
x

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [7]:
y

array([[ 39343],
       [ 46205],
       [ 37731],
       [ 43525],
       [ 39881],
       [ 56642],
       [ 60150],
       [ 54445],
       [ 64445],
       [ 57189],
       [ 63218],
       [ 55789],
       [ 56954],
       [ 57081],
       [ 61111],
       [ 67938],
       [ 66029],
       [ 83022],
       [ 81363],
       [ 93940],
       [ 91738],
       [ 98724],
       [101302],
       [113338],
       [109431],
       [105582],
       [116945],
       [122391],
       [121872]], dtype=int64)

In [25]:
from sklearn.model_selection import train_test_split

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [35]:
x_train

array([[ 4.9],
       [ 3.7],
       [ 5.3],
       [ 8.2],
       [ 5.9],
       [ 1.3],
       [ 4. ],
       [10.5],
       [ 3.2],
       [ 2.2],
       [ 6. ],
       [ 6.8],
       [ 3.9],
       [ 3.2],
       [ 9. ],
       [ 2. ],
       [ 1.1],
       [ 7.9],
       [ 5.1],
       [ 4.1]])

In [37]:
from sklearn.linear_model import LinearRegression

In [39]:
regression=LinearRegression()
regression.fit(x_train,y_train)

y_pred=regression.predict(x_test)
x_pred=regression.predict(x_train)

In [43]:
pred=regression.predict([[5.1]])

In [44]:
pred

array([[72181.49625332]])